{% extends 'base.html.twig' %}

{% block title %}Creer une annonce{% endblock %}


{% block main %}
<h3 class="main-title"> Creer une annonce </h3>
{{ form_start(form) }}
    {{ form_row(form.title, {label: 'Titre',label_attr:{'class': 'form-label'}}) }}
    {{ form_row(form.description,{label:'Description',label_attr:{'class': 'form-label'}}) }}        
    {{ form_row(form.phone_number,{label:'Numero de téléphone',label_attr:{'class': 'form-label'}}) }}
    {{ form_row(form.post_code,{label:'Code Postal',label_attr:{'class': 'form-label'}}) }}
    {{ form_row(form.price,{label:'Prix',label_attr:{'class': 'form-label'}}) }}
    {{ form_row(form.Image,{label:'Image',label_attr:{'class': 'form-label'},attr:{'class': 'btn-image'}}) }}
    <button type="submit" class="btn btn-login btn-primary delete">Créer l'offre</button>
{{ form_end(form) }}
{% endblock %}
