{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
  <h3 class="main-title mt-3">Bienvenue sur Click and Fit</h3>
  <p class="p-3"> Retrouvez nos dernieres annonces</p>
  {% for offer in pagination %}
  <a class="card text-decoration-none text-dark" href="{{ path('offer' , {id:offer.id}) }}">
      <img class="Image" src="uploads/{{offer.image}}" alt="Card image cap">
      <p class="Title"> {{offer.title}}</p>
      <p class="Description d-none d-md-block"> Prix : {{offer.price}}€ <br>
      Description : {{offer.description |truncate(255,true," ... (Lire la suite)")}}</p>
      <p class="PostCode">Code postal : {{offer.PostCode}}</p>
      <p class="Phone">Contact : {{offer.PhoneNumber}}</p>
  </a>
  {% endfor %}
  <div class="paginator-style">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
