{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
  <h3 class="main-title">Bienvenue sur Click and Fit</h3>
  <span> Retrouvez nos dernieres annonces</span>
  {% for offer in offers %}
  <a class="card text-decoration-none text-dark" href="{{ path('offer' , {id:offer.id}) }}">
      <img class="Image" src="uploads/{{offer.image}}" alt="Card image cap">
      <p class="Title"> {{offer.title}}</p>
      <p class="Description d-none d-md-block"> Prix : {{offer.price}}€ <br>
      Description : {{offer.description}}</p>
      <p class="PostCode">Code postal : {{offer.PostCode}}</p>
      <p class="Phone">Contact : {{offer.PhoneNumber}}</p>
  </a>
  {% endfor %}
{% endblock %}
